@import url("https://cdn.jsdelivr.net/npm/maplemono-normal-nf-cn@1.0.0/regular.css");
@import url("https://cdn.jsdelivr.net/npm/maplemono-normal-nf-cn@1.0.0/italic.css");
/* @import url("https://cdn.jsdelivr.net/npm/maplemono-normal-nf-cn@1.0.0/bold.css"); */
/* @import url("https://cdn.jsdelivr.net/npm/maplemono-normal-nf-cn@1.0.0/bolditalic.css"); */

@import url("https://cdn.jsdelivr.net/npm/@fontsource/maple-mono/400.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/maple-mono/400-italic.css");
/* @import url("https://cdn.jsdelivr.net/npm/@fontsource/maple-mono/700.css"); */
/* @import url("https://cdn.jsdelivr.net/npm/@fontsource/maple-mono/700-italic.css"); */

/* @font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/maple-mono-latin-400-normal.woff2) format('woff2'),
}

@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/maple-mono-latin-400-italic.woff2) format('woff2');
} */

#article-container pre,
#article-container code {
    /* font-family: "Maple Mono NF", "Maple Mono NF CN", monospace !important; */
    font-family: "Maple Mono", "Maple Mono Normal NF CN", monospace !important;
    font-feature-settings: "calt" 1, "cv01" 1, "cv02" 1, "cv61" 1, "cv62" 1, "cv66" 1, "ss03" 1;
    font-weight: normal;
}

#article-container figure.highlight.verilog td.code pre {
    font-feature-settings: "cv63" 1, "calt" 1, "cv01" 1, "cv02" 1, "cv61" 1, "cv62" 1, "cv66" 1 !important;
}