@font-face {
    font-family: "Maple Mono Combined";
    src: local("Maple Mono NF");
    unicode-range: U+0000-00FF, U+0100-024F;
    /* 拉丁字符 */
}

@font-face {
    font-family: "Maple Mono Combined";
    src: local("Maple Mono NF CN");
    unicode-range: U+4E00-9FFF, U+3400-4DBF;
    /* 中文字符 */
}

#article-container pre,
#article-container code {
    /* font-family: "Maple Mono NF", "Maple Mono NF CN", monospace !important; */
    font-family: "Maple Mono Combined", monospace !important;
    font-feature-settings: "calt" 1, "cv01" 1, "cv02" 1, "cv61" 1, "cv62" 1, "cv66" 1, "ss03" 1;
    font-weight: normal;
}

#article-container figure.highlight.verilog td.code pre {
    font-feature-settings: "cv63" 1, "calt" 1, "cv01" 1, "cv02" 1, "cv61" 1, "cv62" 1, "cv66" 1, "ss03" 1 !important;
}
